<section class="">
  <div class="box">
    <span class=""><img src="images/2228381-5.png" alt=""></span>
    <h1 class="">¡Vamos a jugar!</h2>
    <p class="">Crear juego: Son necesarios 3 Jugadores</p>
    <div class="">
      <form id="frmCreateGame" class="u-form-horizontal" name="form">
        <div class="group">
          <label for="name-319a" class="">Jugador 1 *</label>
          <input type="text" placeholder="Enter the Name 1" id="gamer1" name="gamer1" class="" required="required"
            autofocus="autofocus">
        </div>
        <div class="group">
          <label for="name-319a" class="">Jugador 2 *</label>
          <input type="text" placeholder="Enter the Name 2" id="gamer2" name="gamer2" required="required">
        </div>
        <div class="group">
          <label for="text-522f" class="">Jugador 3 *</label>
          <input type="text" placeholder="Enter the Name 2" id="gamer3" name="gamer3" class="" required="required">
        </div>
        <div class="aling-center">
          <button type="submit" class="">Crear juego</button>
          <a href="/"class="btn" type="button">Ir al inicio</a>      
        </div>
      </form>
    </div>    
  </div>
</section>
<script src="/javascripts/saveGame.js"></script>