<header class="" id="sec-4e50">
    <div class="">
        <h1 class="">Comienza a jugar el mejor juego de dados</h2>
    </div>
</header>
<section class="u-align-center">
    <div class="">
        <div class="">
            <div class="">
                <div class="box">
                    <a href="/createGame" class="">
                        <span class=""><img src="images/2228381-5.png" alt=""></span>
                        <h3 class="">Crear juego</h3>
                    </a>
                </div>
                <div class="box">
                    <a href="/games" class="">
                        <span class=""><img src="images/702869.png" alt=""></span>
                        <h3 class=""> Lista de juegos</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>