<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Have fun playing the best dice game. Play it now!">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
  <script type="application/ld+json">{  
		"name": "Dice game",
		"logo": "images/2228381.png"
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode">
  {{{body}}}
  <footer class="" id="sec-5fe3">
    <div class="">
      <p class="">Creado por Maira Bastidas.</p>
    </div>
  </footer>
</body>

</html>