<section class="u-align-left u-clearfix u-section-1" id="sec-3e87">
    <div class="box">
        <div id="gamers-container"
            class=" gamers-container u-container-style u-group u-palette-2-base u-preserve-proportions u-radius-15 u-shape-round u-group-1">
            <div class="gamer-item u-container-layout u-container-layout-1">
                <h2 id="score_{{_id}}" class="score u-container-layout u-container-layout-1">Id:{{game._id}}</h2>
                <h3 id="score_{{_id}}" class="score u-container-layout u-container-layout-1">
                    Ganador:{{game.winner.name}}</h3>
            </div>
        </div>
        <div>
            <a href="/" id="btn-start-game"
                class="btn-small">Ir
                al inicio</a>
        </div>
    </div>
</section>